

<div class="modal-header">
    <h4 class="modal-title">Developer</h4>    
  </div>
  <div class="modal-body">
    <form>
        <p>Full name
            <input type="text" class="form-control" id="full_name"
                required [(ngModel)]="developer.full_name" name="full_name">
        </p>
    
        <p>Username (auth sub)
            <input type="text" class="form-control" id="username"
                required [(ngModel)]="developer.username" name="username">
        </p>  
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)=submit()>Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('cancel button')">Cancel</button>
  </div>